<main>
    <div class="contacts-view-contanier">
        <div class="contacts-header">       
            <section class="contacts-title-new-contact">
                <h2>contacts</h2>
                    <span class="MuiButton-lable">New Contact</span>
            </section>
                <div class="contact-header-buttons-container">
                    <section class="contact-header-search-contanier">
                        <div class="contact-search-icon-container">
                            <img class="icon-search" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.stickpng.com%2Fimg%2Ficons-logos-emojis%2Fsearch%2Fsimple-grey-search-icon&psig=AOvVaw1Xm-0mdgFFZGikM14A1XAD&ust=1609871583352000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNjLxo_1gu4CFQAAAAAdAAAAABAI">
                            <input type="text" class="contact-filter-search"  placeholder="Search contacts" value="">
                        <div class="city-container">    
                            <input type="text" class="city-filter-input" placeholder="City" value="">
                        </div>
                        </div>
                    </section>
                </div>
        </div>
    </div>
    <section class="contacts-data-container">
        <div class="contacts-data-cardlist-container">
            <div class="contacts-card-view">
                <div class="contacts-card-contanier">
                    <div class="contacts-view-card">
                        <div class="contacts-card">
                            <div class="left-group">
                                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ficons8.com%2Ficon%2F19336%2Funchecked-checkbox&psig=AOvVaw0YTHP3wYVkGmYQnzUZdwlW&ust=1609880953996000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCg4oeYg-4CFQAAAAAdAAAAABAD" class="checkbox">
                                <div class="contacts-card-img">
                                    <div class="img-card">
                                        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fimages%2Fsearch%2Fnature%2F&psig=AOvVaw150oLLyvi4eKDAky22DfgT&ust=1609881524422000&source=images&cd=vfe&ved=2ahUKEwivyrWUmoPuAhWSnFkKHWmFA6UQr4kDegUIARDUAQ" class="avatar-img">

                                    </div>

                                </div>

                            </div>
                            <div class="basic-info">
                                <div class="contact-card-first-name">aarjavi ruparelia</div>
                                <div class="contact-card-city-state">clifton, NJ</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </section>
</main>
