<main>
    <div class="contacts-view-contanier">
        <div class="contacts-header">       
            <section class="contacts-title-new-contact">
                <h2>contacts</h2>
                    <span class="MuiButton-lable">New Contact</span>
            </section>
                <div class="contact-header-buttons-container">
                    <section class="contact-header-search-contanier">
                        <div class="contact-search-icon-container">
                        <img class="icon-search" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.stickpng.com%2Fimg%2Ficons-logos-emojis%2Fsearch%2Fsimple-grey-search-icon&psig=AOvVaw1Xm-0mdgFFZGikM14A1XAD&ust=1609871583352000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNjLxo_1gu4CFQAAAAAdAAAAABAI">
                            <input type="text" class="contact-filter-search"  placeholder="Search contacts" value="">
                        <div class="city-container">    
                            <input type="text" class="city-filter-input" placeholder="City" value="">
                        </div>
                    </div>
                    </section>
                </div>
        </div>
    </div>
</main>
