@media screen and (min-width: 800px) {
.contacts-view-contanier {
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
}
.contacts-header {
    margin: 30px 0px;
    padding: 0rem 7rem;
    box-sizing: inherit;
}
.contacts-title-new-contact {
    display: flex;
    box-sizing: border-box;
}
h2 {
    color: #2A3D4C;
    margin: auto 1rem auto 0px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 36px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 16px;
    margin-top: 7px;
    margin-left: 20px;
    text-transform: uppercase;
    display: block;
}

.MuiButton-lable {
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    padding: 8px 16px;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    min-height: 36px;
    background-color: #ff5a52;
    height: 50px;
    min-width: 147px;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.4em;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    letter-spacing: normal;
    word-spacing: normal;
}
.contact-header-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}
.contact-header-search-contanier {
    position: relative;
    margin-right: 1rem;
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;   
    box-sizing: border-box;
    display: flex;
}
.icon-search {
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 12px;
    box-sizing: border-box;
    color: #2A3D4C;
    line-height: 1.5;
}
.contact-filter-search {
    border: 1px solid #848EAC;
    border-radius: 3px;
    color: #848EAC;
    height: 40px;
    padding: 10px 35px 10px 45px;
    font-size: 16px;
    outline: none;
    width: 325px;
    box-sizing: border-box;
}
.city-container {
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    display: inline;
    padding: 15px;
}
.city-filter-input {
    border: 1px solid #848EAC;
    border-radius: 3px;
    color: #848EAC;
    height: 40px;
    padding: 10px 35px 10px 10px;
    font-size: 16px;
    outline: none;
    width: 200px;
    box-sizing: border-box;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
}
}
.contacts-data-container {
    margin: 0 auto;
    padding: 0 7rem;
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: inherit;
}
.contacts-data-cardlist-container {
    top: 15rem;
    animation-name: slideUp;
    animation-duration: 0.25s;
    position: absolute;
    top: 245px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 6rem 0 7rem;
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;

}
.contacts-card-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 16rem));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: center;
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}
.contacts-card-contanier {
    background: #ffffff;
    position: relative;
    border-radius: 4px;
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}
.contacts-view-card {
    border: 1px solid #C3D2DF;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(42, 61, 76, 0.14);
    -moz-box-shadow: 0px 2px 10px 0px rgba(42, 61, 76, 0.14);
    box-shadow: 0px 2px 10px 0px rgba(42, 61, 76, 0.14);
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}
.contacts-card {
    width: 16rem;
    height: 22rem;
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}
.basic-info {
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}
.left-group {
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}
.checkbox {
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 10;
    box-sizing: border-box;
}
.contacts-card-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem 1rem 0;
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}
.img-card {
    background-color: #ffffff;
    color: #C3D2DF;
    font-weight: 500 !important;
    height: 64px;
    width: 64px;
    text-transform: uppercase;
    display: flex;
    border: none !important;
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}
.avatar-img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    box-sizing: border-box;
    font-size: 28.8px;
    font-family: 'Rubik', sans-serif;
    color: #C3D2DF;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 100%;

}
.contact-card-first-name {
    color: #2A3D4C;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}
.contact-card-city-state {
    text-align: center;
    text-transform: capitalize;
    color: #2A3D4C;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
}