@media screen and (min-width: 600px) {
    nav {
        background-color: rgb(255, 255, 255);
        box-shadow: none;
        box-sizing: border-box;
        color: rgb(42, 61, 76);
        display: block;
        font-family: Rubik;
        font-size: 16px;
        font-weight: 100;
        height: 100%;
        line-height: 24px;  
        cursor: pointer;     
    }  
    .header-contanier { 
    display: block;
    color: #f75d1c;
    font-size: 30px;
    box-sizing: content-box;
    line-height: 5px;
    }
    .header-row {
    justify-content: space-between;
    grid-area: utility-row;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #2A3D4C;
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    }
    .nav-wrapper {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    }
    ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    }
    ul li {
    display: inline-block;
    margin: 0px 40px 0px 0px;
    border-bottom-style: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    box-sizing: inherit;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    white-space: nowrap;
    }
    ul li:hover {
    color: #067bc2;
    font-weight: 700;
    }
}