
<nav>
    <div>
        <a class="header-contanier">Sampark</a>
            <div class="header-row">
                <span class="nav-wrapper">
                    <div class="responsive-header-menu">
                    <ul id='sampark-menu'>
                        <li>Home</li>
                        <li>Contacts</li>
                        <li>Follow up</li>
                        <li>Admin</li>
                    </ul>
                    <i class="fal fa-question-circle"></i>
                </div>
                </span>
           
            </div>
    </div>
</nav>

